.root {
  background: #FFF;
  height: 100%;
  position: relative;
}

.editor {
  top: 0;
  left: 0;
  font-family: "PT Sans",sans-serif;
  line-height: 1.65;
  letter-spacing: normal;
  border-radius: 0;
  color: #5a5a5a;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  border: none;
  padding: 0;
  background-color: #fcfcfc;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
}

.placeholder {
  color: #ccc;
  font-size: 1em;
  position: absolute;
  width: 95%;
  top: 0;
  left: 2.5%;
}
