@import '../../sass/_variables';
@import '../../sass/_extends';
.triggerIcon {
    @extend %medium-main-icon;
}

.main-sidenav-content {
    background-color: $side-nav-main-color;
    .content-sidenav {
        @extend %flex-in-column;
        header {
            @extend %flex-in-column;
            align-items: center;
            height: 150px;
            padding: 1em;
            h4,
            h5 {
                color: $main-font-color
            }
            .delete-sidenav {
                align-self: flex-end;
                position: absolute;
                a {
                    padding: 0!important;
                    i {
                        @extend %medium-main-icon;
                        margin: 0!important;
                        font-size: 2rem !important;
                    }
                }
            }
        }
    }
}

//=== Sidenav ReactMaterialize
.side-nav a:hover {
    background-color: unset;
}

.collapsible {
    margin: 0 !important;
    border: 0 !important;
}