@import '../../../../sass/_variables';
@import '../../../../sass/_extends';
.files {
    @extend %rectangle-container;
    border-bottom: unset;
    justify-content: space-between;
    padding: 0 2em;
    i {
        color: $main-font-color;
    }
}

.li-item-file {
    @extend %flex-in-column;
    position: relative;
    align-items: flex-end;
    a {
        padding: 0 !important;
    }
    .button-delete {
        position: absolute !important;
        top: 10px;
    }
    .button-update {
        position: absolute !important;
        right: 45px;
        top: 13px;
    }
    .button-delete:hover {
        div {
            svg {
                color: $delete-color !important;
            }
        }
    }
    .button-update:hover {
        div {
            svg {
                color: $update-color !important;
            }
        }
    }
    .files {
        @extend %rectangle-container;
        border-bottom: 1px solid $main-border-color !important;
        border-top: unset !important;
    }
}

.focus-file {
    border: 3px solid #1367ea;
}