@import '../../../sass/_variables';
@import '../../../sass/_extends';

.format {
    @extend %flex-in-column;
    @extend %rectangle-container;
}
.file{
    padding: 0 4em 0 2em !important;
} 
.folder {
    background-color: $side-nav-main-color !important;
    padding: 0px 4.4em;
}