.black-font {
    color:black !important;
}

.content-sidenav {
    display: flex;
    flex-direction: column;
    
    header {
        align-items: center;
        height: 180px;
        align-content: center;
        padding: 1em;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        h4,h5 {
           color:white
        }
    }
}