.App {
    padding: 2em;
    
    article {
        display: flex;
        justify-content: space-between;
    }
    .MarkDownEdited {
        div{
            div {
                .public-DraftEditor-content {
                    padding: 0 8em 30% 8em;
                    
                }
                
            }
            
        }
       
    }
   

}