.App {
    display: flex;
    padding: 2em;
    flex-direction: column;
    article {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
    .MarkDownEdited {
        margin: 0 8em 0 8em;
    }
}