@import '../../sass/_variables';
@import '../../sass/_extends';
.add-folder,
.add-files {
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-icon {
    i {
        @extend %medium-main-icon;
    }
}